@import "bootstrap";
@import "font-awesome";

body {
  padding-top: 60px;
}

.pull-center {
	display: block;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}



/*** STARRING Styles ***/

a.not-starred:hover {
	color: red;
}

a:hover > i.not-starred {
	color: orange;
	text-decoration: none;
}

a:hover > i.starred {
	color: #AFAFAF;
	text-decoration: none;
}

i.starred {
	color: orange 
}

i.not-starred {
	color: #AFAFAF
}


/*** VOTING Styles ***/

.vote_count {
	margin: 0;
	padding: 0;
}

.voted_up {
	a > i.vote_up, .vote_count {
		color: green;
		text-decoration: none;
	}
	a > i.vote_down {
		color: grey;
	}
	a:hover > i.vote_down {
		color: red;
	}		
}

.voted_nil {
	a, .vote_count {
		color: grey;
		text-decoration: none;
	}
}
		
.voted_down {
	a {
		text-decoration: none;
	}
	a > i.vote_up {
		color: grey;
	}
	a > i.vote_down, .vote_count {
		color: red;
	}
}
	